.about {
  height: calc(100vh - 100px);
  padding: 0 2rem;
  margin-top: 100px;
  background: var(--linear-gradient-top);
}

.about__container {
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  border-bottom: 0.5px solid var(--yellow);
}

.about__info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.info__primary {
  font-weight: 700;
  color: var(--white);
  background-color: var(--background-secondary);
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.primary__title {
  color: var(--yellow);
  font-size: var(--step-3);
  font-weight: 700;
}

.info__primary p {
  font-size: var(--step-0);
  font-weight: 500;
  color: var(--white);
  line-height: 1.5;
}

.info__secondary {
  font-weight: 400;
  color: var(--white);
  display: flex;
  gap: 1rem;
}

.secondarty__mision,
.secondarty__vision {
  display: flex;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
}

.secondarty__mision:hover,
.secondarty__vision:hover {
  transform: scale(1.02);
}

.decor {
  width: 1px;
  height: 100%;
  background-color: var(--white);
  opacity: 0.5;
  margin: 0 0.5rem;
}

.secondary__title {
  color: var(--yellow);
  font-size: var(--step-1);
  font-weight: 700;
}

.info__secondary p {
  font-size: var(--step--0);
  font-weight: 500;
  color: var(--white);
  line-height: 1.5;
}

.info__secondary img {
  width: 20%;
}

@media (max-width: 900px) {
  .about {
    height: 100%;
    padding: 0 1rem;
    margin-top: 80px;
  }

  .about__container {
    display: block;
  }

  .about__info {
    padding: 2rem 0;
  }

  .decor {
    height: auto;
  }
}

@media (max-width: 768px) {
  .info__secondary {
    flex-direction: column;
    gap: 2rem;
  }

  .secondarty__mision,
  .secondarty__vision {
    justify-content: center;
    align-items: center;
  }

  .decor {
    display: none;
  }
}
